
<!--The content below is only a placeholder and can be replaced.-->
<title>Rx Pickup</title>
<div id="header-wrapper">
  <div id="header" class="container">

    <div class="rxlogo">
      <img src="../../../dist/assets/templated-erubescent/images/rx2ulogo.png">
    </div>
    <div id="logo">
      <strong style="font-family: 'Comic Sans MS'; color: #ED7070;;font-weight: bolder; font-size: 45px"> Rx2U </strong><br>
    </div>

    <div id="menu">
      <ul>
        <li><a routerLink="/users">Home</a></li>
        <li><a routerLink="/rxpickup">Request Rx Pickup</a></li>
        <li><a routerLink="/orderstatus" >Check Order Status</a></li>
        <li><a routerLink="/about" >About</a></li>
      </ul>
    </div>
  </div>

  <div>Welcome <output style="color: blue">{{first}} {{last}}</output>!
    <a (click)="logOff()" routerLink=""> Log off </a> </div>
  <br>

</div>

<div id="banner-wrapper">
  <div id="banner" class="container">
    <i style="font-weight: normal; font-size: large; font-family: fantasy">Prescriptions on wheels conveniently to you</i><br><br>
      </div>
    </div>

    <div id="wrapper">

      <!--Left component-->
      <div id="featured-wrapper">
        <div class="extra2 margin-btm container">

          <!--fill order section-->
          <div id="tbldiv">
            <table id="fill-table">
              <tr>
                <th>
                  Date
                </th>
                <th>
                  Order Number
                </th>
                <th>
                  First Name
                </th>
                <th>
                  Last Name
                </th>
                <th>
                  Phone
                </th>
                <th>
                  Status
                </th>
                <th>
                  Message
                </th>
                <th>
                  Action
                </th>
              </tr>

              <tr *ngFor="let order of order">
                <td>
                  {{order.order_date}}
                </td>
                <td>
                  {{order.order_num.toUpperCase()}}
                </td>
                <td>
                  {{order.first}}
                </td>
                <td>
                  {{order.last}}
                </td>
                <td>
                  {{order.cust_phone}}
                </td>
                <td >
                   {{order.status}}
                </td>
                <td >
                  {{order.message}}
                </td>
                <td>
                  <input type="submit" [value]="order.status !== 'Arrived' ? '' : 'Receive'"
                         (click)="receive(order.order_num)" [disabled]="order.status !== 'Arrived'">
                </td>
              </tr>
            </table>
          </div>
    </div>
  </div>

</div>

<div id="copyright" class="container">
  <p>&copy; Untitled. All rights reserved. | Photos by <a href="https://images.google.com/">GoogleImage</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>






