/* You can add global styles to this file, and also import other style files */
.rxlogo    img                                     {width: 130px; height: 85px; }
.rxlogo    img                                     {width: 130px; height: 85px; }
div#loginform                                     {position: fixed; top: 0; right: 30px;}
#verilog                                         {padding-left: 80%; color: #D60202;}

